<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
    <th:block th:insert="admin-sidebar :: style"></th:block>
    <title>Add Exposition</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div>
    <div class="wrapper">
        <div th:replace="admin-sidebar :: sidebar"></div>
        <div id="content">
            <form th:action="@{/admin/add-exposition}" th:object="${exposition}" method="post">
                <input type="hidden" name="command" value="addExposition">
                <div class="col-sm-3 my-1">
                    <label for="title" th:text="#{admin.addExposition.title}"></label>
                    <label class="text-danger" for="title" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></label>
                    <input name="title" th:field="*{title}" type="text" class="form-control" id="title"  th:placeholder="#{admin.addExposition.title}" required>
                </div>
                <div class="col-sm-3 my-1">
                    <label for="theme" th:text="#{admin.addExposition.theme}"></label>
                    <label class="text-danger" for="theme" th:if="${#fields.hasErrors('theme')}" th:errors="*{theme}"></label>
                    <input name="theme" th:field="*{theme}" type="text" class="form-control" id="theme" th:placeholder="#{admin.addExposition.theme}" required>
                </div>
                <div class="col-sm-3 my-1">
                    <label for="startDate" th:text="#{admin.addExposition.startDate}"></label>
                    <label class="text-danger" for="startDate" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></label>
                    <label class="text-danger" for="startDate" th:if="${dateError}" th:text="#{admin.addExposition.dateError}"></label>
                    <input name="startDate" th:field="*{startDate}" type="date" id="startDate" class="form-control" required>
                </div>
                <div class="col-sm-3 my-1">
                    <label for="endDate" th:text="#{admin.addExposition.endDate}"></label>
                    <label class="text-danger" for="endDate" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></label>
                    <input name="endDate"  th:field="*{endDate}" type="date" id="endDate" class="form-control" required>
                </div>
                <div class="col-sm-3 my-1">
                    <label for="ticketPrice" th:text="#{admin.addExposition.ticketPrice}"></label>
                    <label class="text-danger" for="ticketPrice" th:if="${#fields.hasErrors('ticketPrice')}" th:errors="*{ticketPrice}"></label>
                    <input name="ticketPrice" th:field="*{ticketPrice}" type="number" step=".01" class="form-control" id="ticketPrice" th:placeholder="#{admin.addExposition.ticketPrice}" required>
                </div>
                <div class="col-sm-3 my-1">
                    <label for="description" th:text="#{admin.addExposition.description}"></label>
                    <label class="text-danger" for="description" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
                    <textarea name="description" th:field="*{description}" type="text" class="form-control" id="description" maxlength="500" rows="5" required></textarea>
                </div>
                <div class="col-sm-3 my-1">
                    <label for="halls" th:text="#{admin.addExposition.hall}"></label>
                    <label class="text-danger" for="halls" th:if="${#fields.hasErrors('hall')}" th:errors="*{hall}"></label>
                    <select name="halls" th:field="*{hall}" id="halls" class="custom-select custom-select-lg mb-3">
                        <option th:each="hallObj : ${halls}" th:value="${hallObj.id}" th:text="${hallObj.getName()}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{admin.submit}"></button>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    $(document).ready(function () {
        var date_input_start = $('input[name="startDate"]');
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input_start.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        });

        var date_input_end = $('input[name="endDate"]');
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input_end.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,

        })
    })
</script>

</body>
</html>
