<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="admin-sidebar :: style"></th:block>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Halls</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="wrapper">
    <div th:replace="user-sidebar :: sidebar"></div>
    <div id="content">
        <table class="table table-striped table-responsive-md btn-table">
            <thead>
            <tr>
                <th scope="col" th:text="#{admin.showHalls.id}"></th>
                <th scope="col" th:text="#{admin.showHalls.name}"></th>
                <th scope="col" th:text="#{admin.showHalls.city}"></th>
                <th scope="col" th:text="#{admin.showHalls.street}"></th>
                <th scope="col" th:text="#{admin.showHalls.houseNumber}"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="hall : ${halls}">
                <td th:text="${hall.getId()}"></td>
                <td th:text="${hall.getName()}"></td>
                <td th:text="${hell.getCity()}"></td>
                <td th:text="${hall.getStreet}"></td>
                <td th:text="${hell.getHouseNumber}"></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="admin-pagination :: pagination"></div>
    </div>
</div>
</body>
</html>
