<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Something Went Wrong</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{css/errorPage.css}"/>

</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>O<span>OP</span>S</h1>
        </div>
        <p th:text="#{error.message}"></p>
        <a th:href="@{/}" th:text="#{error.homepage}"></a>
    </div>
</div>
</body>
</html>

