<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light" style="background-color: #9ca0fd;">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand mx-auto" th:href="@{/}">Exposition</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto" th:with="urlBuilder=${@changeLanguage.apply('lang')}">
            <a class="nav-link active" th:href="@{${urlBuilder}(lang=en)}">English</a>
            <a class="nav-link active" th:href="@{${urlBuilder}(lang=ru)}">Русский</a>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <button class="btn btn-dark" type="submit" th:text="#{header.logout}"></button>
            </form>
        </ul>
    </div>
</nav>
</body>
</html>
