<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script th:src="@{js/bootstrap.min.js}"></script>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/cover.css}" rel="stylesheet">

    <style>
        body{
            background:
                    linear-gradient(
                            rgba(0, 0, 0, 0.7),
                            rgba(0, 0, 0, 0.7)
                    ),
                    url("img/bg.jpg");
            -webkit-background-size: cover;
            background-size: cover;
        }
    </style>

    <title>Exposition Calendar</title>
</head>

<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand" th:text="#{index.headerName}"></h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="?lang=en">English</a>
                <a class="nav-link" href="?lang=ru">Русский</a>
                <a class="nav-link" href="login?command=loginForm" th:text="#{signIn.submit}"></a>
            </nav>
        </div>
    </header>
    <main role="main" class="inner cover">
        <h1 class="cover-heading" th:text="#{index.brandName}"></h1>
        <p class="lead" th:text="#{index.text}"></p>
        <p class="lead" th:text="${message}"></p>
        <p class="lead">
            <a href="register?command=registerForm" class="btn btn-lg btn-secondary" th:text="#{index.register}"> </a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p th:text="#{index.footer}"></p>
        </div>
    </footer>
</div>

</body>
</html>
