<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css"/>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{/js/script.js}" type="text/javascript"></script>
        <title>Login</title>
    </head>

    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <form th:action="@{/login}" method="post">
                        <p class="text-danger" th:if="${loginError == true}" th:text="#{signIn.errorMessage}"></p>
                        <div class="form-group">
                            <label for="email" th:text="#{signIn.email}"></label>
                            <input type="email" name="email" id="email" class="form-control" aria-describedby="emailHelp" th:placeholder="#{signIn.emailPlaceholder}"
                            pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}$" th:title="#{signIn.emailRegexMessage}">
                        </div>
                        <div class="form-group">
                            <label for="password" th:text="#{signIn.password}"></label>
                            <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" th:placeholder="#{signIn.passwordPlaceholder}">
                            <div class="form-group">
                                <p class="text-center" th:text="#{signIn.message}"></p>
                            </div>
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" th:text="#{signIn.submit}"></button>
                        </div>

                        <div class="form-group">
                            <p class="text-center" > <label th:text="#{signIn.register.message}"></label> <a th:href="@{/register}" id="signup" th:text="#{signIn.register.link}"></a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
