<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link th:href="@{css/style.css}" rel="stylesheet"/>

    <title>Register</title>
</head>


<body>
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Signup</h1>
<!--                        <p style="color: red"><c:if test="${not empty registerMessage}">-->
<!--                            <c:out value="${registerMessage}"/>-->
<!--                        </c:if></p>-->
                    </div>
                </div>
                <form action="register" name="registration" method="post">
                    <input type="hidden" name="command" value="register">
                    <div class="form-group">
                        <label for="name" th:text="#{register.name}"></label>
                        <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp"
                               th:placeholder="#{register.namePlaceholder}" required
                               pattern="^[a-zA-Zа-яА-Яієї']{2,}$" th:title="#{register.nameMessage}">
                    </div>
                    <div class="form-group">
                        <label for="surname" th:text="#{register.surname}"></label>
                        <input type="text" name="surname" class="form-control" id="surname"
                               aria-describedby="emailHelp" required
                               th:placeholder="#{register.surnamePlaceholder}"
                               pattern="^[a-zA-Zа-яА-Яієї']{2,}$" th:title="#{register.surnameMessage}">
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{register.email}"></label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                               th:placeholder="#{register.emailPlaceholder}" required
                               pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}$"
                               th:title="#{register.emailMessage}">
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{register.password}"></label>
                        <input type="password" name="password" id="password" class="form-control"
                               aria-describedby="emailHelp" required
                               th:placeholder="#{register.passwordPlaceholder}"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,15}$"
                               th:title="#{register.passwordMessage}">
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirmation" th:text="#{register.confirmPassword}"></label>
                        <input type="password" name="passwordConfirmation" id="passwordConfirmation"
                               class="form-control" aria-describedby="emailHelp" required
                               th:placeholder="#{register.confirmationPlaceholder}"
                               pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,15}$"
                               th:title="#{register.passwordMessage}">
                    </div>
                    <div class="col-md-12 text-center mb-3">
                        <button type="submit" id="submit" class=" btn btn-block mybtn btn-primary tx-tfm" th:text="#{register.submit}"></button>
                    </div>
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <p class="text-center"><a th:href="@{/login}" id="signin" th:text="#{register.signIn.message}"></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>