<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
    <title>Welcome to User page</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="wrapper">
    <div th:replace="user-sidebar :: sidebar"></div>
    <div id="content">
        <h2 th:text="#{user.welcome} + ' ' + *{name} + ' ' +  *{surname}" th:object="${session.user}"></h2>
        <p th:text="#{user.message}"></p>
    </div>
</div>
</body>
</html>
